:root {
  background-color: #111111;
  position: relative;
  overflow: hidden;
}

:root::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/public/holes.svg);
  background-repeat: repeat;
  background-size: 16px 16px;
  pointer-events: none;
  z-index: 1000;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;;
  position: relative;
  z-index: 2000;
}

.gradient-circle {
  position: absolute;
  width: 320px;
  height: 320px;
  /* background: radial-gradient(circle at center, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0), rgba(1, 0, 0, 0)); */
  background-color: #ed4343;
  border-radius: 100%;
  pointer-events: none; 
  filter: blur(6.5em);
  transform: translate(-50%, -50%);
  z-index: 500;
}

.disclaimerText{
  text-align: center;
}

@media screen and (max-width: 768px) {
  .gradient-circle {
    width: 512px;
    height: 512px;
  }

  .disclaimerText{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5em;
    font-weight: 400;
  }
  
}